body {
    margin: 50px;
    background-color: #FADCD9;
    color: white;
    font-size: 30px;
}

img {
    border-radius: 20px;
}

.center {
    text-align: center;
    align-items: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.myButton {
    position: relative;
    border-radius:20px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 80px;
    width: 49%;
    margin: 0;
    padding: 0;
    background: #F8AFA6;
    border: none;
    outline: none;
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color:white;
  }