body {
    background-color: black;
    color: aliceblue;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-size: 150%;
}

img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    max-width: 60%;

    padding-bottom: 4%;
}

.center {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.images {
    align-items: center;
    margin: 7%
}

.homeButton {
    background-color: black;
    border: none;
    outline: none;

    color: aliceblue;
    font-size: 400%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.goHomeButton {
    background-color: black;
    border: none;
    outline: none;

    position: fixed;
    top: 2%;
    left: 1%;

    color: aliceblue;
    text-align: top;
    font-size: 200%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}